@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400&family=Work+Sans&display=swap');


/*Variables*/
:root {
    --white-color: rgb(243, 250, 255);
    --dark-color: rgb(10, 0, 99);
    --body-bg-color: linear-gradient(to right, #2980b9, #6dd5fa, #2980b9);
    --section-bg-color: #202834;
    --navigation-item-hover-color: #3b5378;

    --text-shadow: 1px 1px 7px rgba(0, 0, 0, 0.9);
    --box-shadow: 0 5px 25px rgb(0 0 0 /20%);
}

::-webkit-scrollbar {
    width: 8px; /* ширина для вертикального скролла */
    height: 8px; /* высота для горизонтального скролла */
    background-color: #143861;
}
::-webkit-scrollbar-thumb {
    background-color: #0093dd;
    border-radius: 9em;
    box-shadow: inset 1px 1px 4px #0000009c;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #006398;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    scrollbar-width: var(--scrollbarWidth);
    scrollbar-color: var(--scrollbarThumbColor) var(--scrollbarBgColor);
    background: var(--body-bg-color);
}

header {
    z-index: 999;
    position: fixed;
    width: 100%;
    height: calc(5rem + 1vh);
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s ease;
}

header.smooth {
    height: calc(2.5rem + 1vh);
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    transition: .5s ease;
} 

header nav {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 200px;
    transition: 0.3s ease;
}

.nav-close-btn, .nav-menu-btn {
    display: none;
}

.media-icons {
    z-index: 999;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 100px;
    display: flex;
    flex-direction: column;
}

.media-icons a {
    color: var(--white-color);
    font-size: 1.7em;
    margin: 10px 0;
}

.logo {
    display: flex;
    align-items: center;
}

.logoText {
    padding-left: 5px;
    color: var(--white-color);
    font-size: 1.8em;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    text-shadow: var(--text-shadow);
}

.logoImg {
    width: 2em;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li:not(:last-child) {
    padding-right: 40px;
}

nav ul li a {
    text-decoration: none;
    color: var(--white-color);
    text-shadow: var(--text-shadow);
    font-size: 1em;
    position: relative;
}

nav ul li a::after {
    content: '';
    height: 2px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: currentColor;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transition: .5s ease;
    transition: .5s ease;
  }

  nav ul li a:hover::after {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }

nav ul li a i {
    display: none;
}

.home {
    min-height: 100vh;
    overflow: hidden;
}

.bg-slider {
    z-index: 990;
    position: relative;
    width: 100%;
    height: 100vh;
}

.bg-slider .swiper-slide {
    position: relative;
    width: 100%;
    height: 100vh;
}

.bg-slider .swiper-slide img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    background-position: center;
    background-size: cover;
    pointer-events: none;
}

.swiper-slide .text-content {
    position: absolute;
    top: 25%;
    color: var(--white-color);
    margin: 0 200px;
    transition: .3s ease;
    transition-property: transform, opacity;
}

.swiper-slide .text-content .title {
    font-size: calc(50px + 0.8vw);
    line-height: 0.8em;
    font-weight: 700;
    text-shadow: var(--text-shadow);
    margin-bottom: 20px;
    transform: translateY(-50px);
    opacity: 0;
}

.swiper-slide-active .text-content .title{
    transform: translateY(0px);
    opacity: 1;
    transition: 1s ease;
    transition-delay: .2s;
}

.swiper-slide .text-content .title span {
    font-size: 0.3em;
    font-weight: 300;
    opacity: 0;
    transform: scale(0);
}

.swiper-slide-active .text-content .title span {
    opacity: 1;
    transform: scale(1);
    transition: 1s ease;
    transition-delay: 1s;
    transition-property: transform, opacity;
}

.swiper-slide .text-content p {
    max-width: 700px;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    font-size: calc(10px + 0.5vw);
    text-shadow: var(--text-shadow);
    padding: 20px;
    border-radius: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: var(--box-shadow);
    transform: translateX(-80px);
    opacity: 0;
}

.swiper-slide-active .text-content p {
    transform: translateX(0);
    opacity: 1;
    transition: 1s ease;
    transition-delay: .3s;
    transition-property: transform, opacity;
}
 
.swiper-slide .text-content .read-btn {
    border: none;
    outline: none;
    background-color: var(--white-color);
    color: var(--dark-color);
    font-size: 1em;
    font-weight: 500;
    padding: 8px 25px;
    display: flex;
    align-items: center;
    margin-top: 40px;
    border-radius: 15px;
    cursor: pointer;
    transform: translateX(50px);
    opacity: 0;
}

.swiper-slide-active .text-content .read-btn {
    transform: translateX(0px);
    opacity: 1;
    transition: 1s ease;
    transition-delay: .3s;
    transition-property: transform, opacity;
}

.text-content .read-btn i {
    font-size: 1.6em;
    transition: .3s ease;
}

.swiper-slide .text-content .read-btn:hover i {
    transform: translateX(5px);
}

.dark-layer::before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(0deg, rgba(255,248,237,0) 0%, rgba(0,0,0,0.3) 100%);;
}

.bg-slider-thumbs {
    z-index: 990;
    position: absolute;
    bottom: 7em;
    left: 50%;
    opacity: 0;
    transform: translateX(-50%);
    transition: .3s ease;
    
}

.thumbs-container {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    padding: 10px 3px;
    border-radius: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    
}

.swiper-slide-thumb-active {
    border: 1px solid var(--white-color);
    opacity: 1;
}

.thumbs-container img {
    width: 50px;
    height: 35px;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
}

hr {
    margin: 0 auto;
	margin: -30px auto 10px;
	padding: 0;
	height: 50px;
	border: none;
	border-bottom: 1px solid #005eff8f;
	box-shadow: 0 20px 20px -20px #333;
    width: 75%;
}

.about {
    width: 50%;
    margin: 0 auto;
    padding-top: 70px;
    text-align: center;
}

.about img {
    width: 50%;
    margin: 20px 0;
    box-shadow: var(--box-shadow);
    transition: all .5s ease;
}

.about img:hover {
    transform: scale(1.01);
    
}

.about h2 {
    font-size: calc(40px + 0.8vw);
    color: var(--dark-color);
}

.about p {
    margin: 20px;
}


@media screen and (max-width: 1100px) {
    header nav {
        padding: 0 50px;
    }
    
    .about {
        width: 80%;
    }

    .media-icons {
        right: 0;
        margin-right: 40px;
    }

    .media-icons a {
        font-size: 1.5em;
    }

    .swiper-slide .text-content {
        margin: 0 100px;
    }
}

@media screen and (max-width: 785px) {
    .media-icons {
        right: 0;
        margin-right: 20px;
    }
    .swiper-slide .text-content {
        margin: 0 70px 0 30px;
    }
    .nav-menu-btn {
        display: block;
        
        color: var(--white-color);
        font-size: 3em;
        cursor: pointer;
        margin: 20px;
    }
    .nav-close-btn {
        display: block;
        color: var(--dark-color);
        position: absolute;
        top: 0;
        right: 0;
        font-size: 1.5em;
        margin: 20px;
        cursor: pointer;
        transition: .3s ease;
    }
    .navigation
     {
        z-index: 99999;
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.4);
        display: flex;
        justify-content: center;
        align-items: center;
        visibility: hidden;
        opacity: 0;
    }
    .navigation.active {
        visibility: visible;
        opacity: 1;
    }

    .navigation.active .nav-items {
        transform: translateY(0px);
    }

    .navigation .nav-items {
        position: relative;
        background: var(--white-color);
        width: 400px;
        max-width: 400px;
        display: grid;
        place-content: center;
        margin: 20px;
        padding: 40px;
        border-radius: 20px;
        box-shadow: var(--box-shadow);
        transform: translateY(-200px);
        transition: 0.3s ease;
        
    }

    .navigation .nav-items a {
        color: var(--dark-color);
        font-size: 1.2em;
        margin: 15px 50px;
        transition: 0.3s ease;
        text-shadow: 0 1px 5px rgba(0, 0, 0, 0.116);
    }

    .navigation .nav-items a:hover {
        color: #005782;
    }

    .navigation .nav-items a i {
        display: inline-block;
        font-size: 1.5em;
        margin-right: 5px;
        text-shadow: 0 1px 5px rgba(0, 0, 0, 0.116);
    }

    .read-btn {
        font-size: 0.7em;
        padding: 3px 8px;
    }
}